<div style="text-align: center;">
  <h3> ToDo </h3>

  <div class="header">
    <input type="text" [(ngModel)] = "inputText">
    <button id="addButton" color = "accent" (click)="addTodo()">Add New ToDo</button>
  </div>

  <h3> ToDo List</h3>

  <div class="buttons">
    <button>All</button>
    <button>Done</button>
    <button>ToDo</button>
  </div>

  <div class="container">

    @for (todo of todos; track $index) {
      <div class="task">
        <span>{{ $index+1}} -) {{todo}}</span>
        <div>
          @if (isEdit) {
            <input type="checkbox">
          }
          
          <mat-icon
          (click)="deleteTodo($index)"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="delete"
          >Delete</mat-icon
        >
        <mat-icon
        (click)="editTodo($index)"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="edit"
        >Edit</mat-icon>
        
          
        </div>
      </div>
    }
   
  

</div>
</div>